---
layout: default
---

<div class="home">

  <div class="posts">
    {% for post in paginator.posts %}
      <div class="post py3">
        {% if page.update_date %}
          <p class="post-meta">{{ post.update_date | date: site.date_format }}</p>
        {% else %}
          <p class="post-meta">{{ post.date | date: site.date_format }}</p>
        {% endif %}
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-link"><h3 class="h1 post-title">{{ post.title }}</h3></a>
        <p class="post-summary">
          {% if post.summary %}
            {{ post.summary | markdownify}}
          {% else %}
            {{ post.excerpt }}
          {% endif %}
        </p>
      </div>
    {% endfor %}
  </div>

  {% include pagination.html %}
</div>
